.BlogList{
    margin-top: 150px;
}

.list_container{
    max-width: 900px;
    margin: 0 auto;
}
.list__title{
    margin-bottom: 55px;
    h2{
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        color: #21243D;
    }
}
.list{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .list_container {
        padding: 0 15px;
    }
}
@media (max-width: 768px) {
    .BlogList{
        margin-top: 50px;
    }
}