.WorkSinglePage {
    margin-top: 150px;
}

.inner {
    h1 {
        font-weight: 700;
        font-size: 34px;
        line-height: 50px;
        color: #21243D;
    }
}

.dateType {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.date {
    padding: 5px 13px;
    color: white;
    background: #FF7C7C;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    margin-right: 30px;
}

.type {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    /* Dark Color */

    color: #21243D;
}

.descrip {
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    max-width: 680px;
    color: #000000;
    margin-top: 35px;
}