.NotFound{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error{
    font-weight: 700;
    font-size: 80px;
    line-height: 44px;
    color: #21243D;
    margin-bottom: 35px;
}
.descrip{
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}