.WorksList {
    margin-top: 150px;
}

.inner {
    display: flex;
    flex-direction: column;
}
.title{
    h3{
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */


        /* Dark Color */

        color: #21243D;
    }
}

@media (max-width: 728px) {
    .WorksList {
        margin-top: 50px;
    }
}