.FeaturedWorks{
    margin-top: 15px;
}

.titleN{
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    text-decoration: none;
    color: #21243D;
}
.Title a{
    text-decoration: none;
}
.Inner{
    display: flex;
    flex-direction: column;
}
