.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    a{
        margin-right: 35px;
        &:last-child{
            margin-right: 0;
        }
    }
    img{
        margin-bottom: 25px;
    }
    p{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #21243D;
    }
}